<!doctype html>
<html>
<head>
  <title> TicTacToe Auth </title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/077191d827.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="profilePage.css">
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <img src="./img/topSecret.jpg" alt="">
        <h1> Welcome to Your Secret Grocery List,  </h1>
        <h1> <span class="fas fa-user-secret"></span> <%= user.local.email %> <span class="fas fa-user-secret"></span> </h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- YOUR ACTUAL MESSAGES  -->
        <section id="HappyList">
        <div class="col-sm-12">
          <h3>Enter your grocery items down below  </h3>
          <ul class="messages">
              <% for(var i=0; i< messages.length; i++) {%>
                <% if (user.local.email == messages[i].name) { %>
                  <li class="message">
                    <span><%= messages[i].name%></span>
                    <span><%= messages[i].msg %></span>
                    <span><%= messages[i].thumbUp -= messages[i].thumbDown %></span>
                    <span><i class="fa fa-dollar-sign" aria-hidden="true"></i></span>
                    <span><i class="fa fa-arrow-down" aria-hidden="true"></i></span>
                    <span><i class="fa fa-trash" aria-hidden="true"></i></span>
                    <span><i id="trophy" class="fas fa-trophy" aria-hidden="true"></i></span>
                    <span><%= messages[i].thumbUp -= messages[i].thumbDown %> dollars bet</span>
                  </li>
                <% } %>
              <% } %>
          </ul>
          <img id="winner" src="" alt="">
          <span id="tester"></span>
          <h2>Add an item to your grocery list: </h2>
        <% if (user.local.email) { %>
          <form action="/messages" method="POST">
            <input type="text" value="<%= user.local.email %>" name="name">
            <input type="text" placeholder="message" name="msg">
            <button type="submit">Submit</button>
          </form>
        </div>
      </section>

        <% } %>

        <!-- LOCAL INFORMATION -->
        <section id="profileInfo">

        <div class="col-sm-7">
          <br>
            <div class="well">
                <h3> Your Account Info <span class="fas fa-user-lock"> </span> </h3>

                <% if (user.local.email) { %>
                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>

                    <a href="/unlink/local" class="btn btn-default">Unlink</a>
                <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

            </div>
        </div>
        </section>

</div>

<script src="main.js"></script>

</body>
</html>
